<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/home.css">
    
    <title>Ajuda Botucatu</title>

  </head>

  <body>
    
    <div class="content">

      <header>
        <img src="" alt="">
      </header>

      <div class="background">
        
      </div>

      <main>
        <div class="container">
          <section>

            <h2>Venha fazer parte deste time</h2>

            <form action="">
              <label for="email" class="sr-only"></label>
              <input type="text" id="email" placeholder="insira seu e-mail">
              <label for="" class="sr-only"></label>
              <input type="password" class="password" placeholder="insira sua senha">
            </form>

            <div class="separator">
              <div></div>
              <div>ou</div>
              <div></div>
            </div>

          </section>

          <section>
            <h2>Contribua de forma fácil</h2>
            <a href="">
              <!-- <img src="../static/image/doacao.svg" alt=""> -->
            </a>
          </section>
        </div>
      </main>
    </div>

  </body>

</html>